@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'HelveticaRegular';
    src: url('fonts/helvetic-webfont.eot');
    src: url('fonts/helvetic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetic-webfont.woff') format('woff'),
         url('fonts/helvetic-webfont.ttf') format('truetype'),
         url('fonts/helvetic-webfont.svg#HelveticaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body {
	height: 100%;
	margin: 0;
	pagging: 0;
}

body {
	margin: 0;
	padding: 0px;
	font-family: "HelveticaRegular", Arial, sans-serif;
	font-size:12px;
}

ul {
	list-style-type:none;
}

ul  li {
	display:inline;
	margin:5px 0 5px 5px;
 }


/*HEADER*/
/******************************/
#header{
	height:90px;
	width:100%;
	background: #122d45; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMmQ0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDQ0NjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  #122d45 0%, #1d4467 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#122d45), color-stop(100%,#1d4467)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #122d45 0%,#1d4467 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #122d45 0%,#1d4467 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #122d45 0%,#1d4467 100%); /* IE10+ */

background: linear-gradient(top,  #122d45 0%,#1d4467 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#122d45', endColorstr='#1d4467',GradientType=0 ); /* IE6-8 */



}

#header-background {
	background:url(../images/header.png) no-repeat;
	height:90px;
	width:1020px;
	margin: 0 auto;
	padding: 9px 0 0 30px;
}

/*Clear*/
.clear {
	clear:both;
}